<div class="container">
    <div class="h3">Woops, looks like you're not authorized to view thie page.</div>
    <div>Would you prefe to <a asp-controller="Gallery" asp-action="Logout">log in as someone else</a></div>
</div>
